@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
    --header-height: 3rem;
    --primary-color: #FCA4A6; 
    --secondary-color: #C1576A;
    --third-color: #A83E51;
    --fourth-color: #FCF8F8;
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: 0.938rem;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1, p, ul{
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    
}